<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - 박성모님</title>
    


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='assets/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/themify-icons.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default-css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST" action="./login_check">
                    <div class="login-form-head">
                        <h4>로그인</h4>
                        <p> 박성모 광고 통합관리 ERP </p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="userId">Id</label>
                            <input type="text" id="userId" name="userId">
                            <i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            <label for="userPw">Password</label>
                            <input type="password" id="userPw" name="userPw">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Login <i class="ti-arrow-right"></i></button>
                        <!--
                            <div class="login-other row mt-4">
                                <div class="col-6">
                                    <a class="fb-login" href="#">Log in with <i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="col-6">
                                    <a class="google-login" href="#">Log in with <i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        -->
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <br><a href="register.html">관리자@이메일.com</a> 또는 <br>H.P 010-0000-0000 으로 연락주세요 ~ </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{{ url_for('static',filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    "{{ url_for('static',filename='') }}

    <script src="{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.slicknav.min.js') }}"></script>
    
    <!-- others plugins -->
    <script src="{{ url_for('static',filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/scripts.js') }}"></script>
</body>

</html>